<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ModuleManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<modules>
		<module assemblyFile="Core\UI\ModuleManager.Core.UI.dll"
			moduleType="ModuleManager.Core.UI.UIModule, ModuleManager.Core.UI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			moduleName="UIModule"
			startupLoaded="True">
			<dependencies>
				<!--<dependency moduleName="OtherModuleName" />-->
			</dependencies>
		</module>
	</modules>
</configuration>